<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Appium Test Suite">
    <listeners>
        <listener class-name="Listeners.CustomTestListener" />
    </listeners>
    <test name="App Tests">
        <classes>
            <class name="Test.BestOfferTest"/>
        </classes>
    </test>
</suite>

